<div class="box-cad-clientes">
  <h2>Cadastro de Cliente</h2>
  <form class="form-cadastro-cliente" id="formCadCliente">

    <mat-grid-list cols="3" rowHeight="60px">

      <mat-grid-tile>
        <mat-form-field class="input-nome">
          <input matInput placeholder="Nome">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-telefone">
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="Telefone">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-email">
          <input matInput placeholder="Email">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-cep">
          <input matInput placeholder="CEP">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-logradouro">
          <input matInput placeholder="Logradouro">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-complemento">
          <input matInput placeholder="Complemento">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-bairro">
          <input matInput placeholder="Bairro">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-cidade">
          <input matInput placeholder="Cidade">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-estado">
          <input matInput placeholder="Estado">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </form>
</div>