.box-cad-clientes{
    padding: 10px;
    #formCadCliente{
        mat-form-field{
            margin-right: 10px;
            width: 100%;
            /*&.input-nome{ 
                width: 400px;
            }
            &.input-telefone{
                width: 300px;
            }
            &.input-email{
                margin-right: 10px;
                width: 400px;
            }
            &.input-cep{
                width: ;
            }
            &.input-logradouro{
                width: 400px;
            }
            &.input-complemento{
                width: 400px;
            }
            &.input-bairro{
                width: 400px;
            }
            &.input-cidade{
                width: 400px;
            }
            &.input-estado{
                width: 300px;
            }*/
        }
    }
}