<h2>Dados Cadastrais</h2>
<div class="form-alterar">
    <form class="form-cadastro">
        <mat-form-field class="field-cadastro field-nome">
            <input matInput placeholder="Nome">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-telefone">
            <span matPrefix>+55 &nbsp;</span>
            <input type="tel" matInput placeholder="Telefone">
        <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-username">
            <input type="password" matInput placeholder="Nome de Usuário">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-password">
            <input type="password" matInput placeholder="Senha">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-repete-pass">
            <input type="password" matInput placeholder="Repetir Senha">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-cep">
            <input type="text" matInput placeholder="CEP">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-rua">
            <input type="text" matInput placeholder="Rua">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-numero">
            <input type="number" matInput placeholder="Número">
        </mat-form-field>
        <br>
        <mat-form-field class="field-cadastro field-referencia">
            <input type="text" matInput placeholder="Referencia">
        </mat-form-field>
        <br>
    </form>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" class="btn-alter-dados">Alterar Dados</button>
    </mat-dialog-actions>
</div>