.sidenav-container {
  height: 100%;
  .sidenav {
    width: 200px;
    .mat-toolbar {
      background: inherit;
      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
    mat-nav-list{
      .menu-active{
        background-color: #dcdcdc;
      }
    }
  }
  .cont-btn-login{
    position: absolute;
    right: 15px;
  }

  .cont-btn-cadastro{
    position: absolute;
    right: 100px;
  }

  div.router{
    padding: 15px;
  }

}

  