<button mat-button mat-dialog-close class="btn-close">{{labelClose}}</button>
<h2 mat-dialog-title class="title-modal">{{modalTitle}}</h2>
<mat-dialog-content>
    <form class="form-login">
        <mat-form-field class="field-login field-username">
            <input [(ngModel)]="usuario.username" matInput name="username" placeholder="Username">
        </mat-form-field>
        <br>
        <mat-form-field class="field-login field-oassword">
            <input [(ngModel)]="usuario.password" type="password" matInput name="password" placeholder="Password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" class="btn-login" (click)="fazerLogin()">{{labelLogin}}</button>
</mat-dialog-actions>

