.title-modal{
    text-align: center;
}

.field-login{
    width: 100%;
}

.btn-login{
    margin: 0 auto;
    border-radius: 100px;
    height: 48px;
    width: 100px;
    margin-bottom: 20px;
}

.btn-close{
    float: right;
    width: 40px;
    height: 40px;
    background-color: #c1c1c1;
    color: #fff;
    min-height: fit-content;
    min-width: fit-content;
}